<ng-container *ngIf="!profileName ; else successAuth">
  <app-route-link linkPath="/login" linkText="LOGIN">
  </app-route-link>
</ng-container>
<ng-template #successAuth>
  <div class="flex align-center gap-5">
    <span class="profile-name">{{profileName}}</span>
    <app-route-link linkPath="/video/admin">
      <img class="profile-img profile-img--pointer" src="/assets/profile.svg" alt="profile">
    </app-route-link>
    <button (click)="onClick()" mat-raised-button color="primary">LOGOUT</button>
  </div>
</ng-template>
