/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-5 {
  gap: 0.5rem;
}

.flex-50 {
  flex: 0 1 50%;
}

.flex-33 {
  flex: 0 1 33%;
}

.flex-10 {
  flex: 0 1 10%;
}

.width-100 {
  width: 100%;
}

.pt-1 {
  padding-top: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.cursor-pointer {
  cursor: pointer;
}
